node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

.env
.env.*.local

logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

coverage/
.nyc_output/

dist/
build/
.cache/
.tmp/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

